* {
  box-sizing: border-box;
}

#title {
    text-align: center;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 10px;
    text-decoration: underline;
    margin-bottom: auto;
}
#description {
    text-align: center;
    margin-bottom: 0.5rem;
    font-style: italic;
}
body{
    height: 100vh;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #dcecf3;
}
form {
    display: inline-block;
    position: relative;
    width: 40%;
    margin: 10px auto;
    padding: 2rem;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#submit {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    align-items: center;    
}
#list {
    display: inline-block; 
    width: 60%;
    margin-left: 40%;
    padding-left: 25px;
    margin-top: 12%;
    margin-right: 10px;
    position: absolute;
    inset: 0;
    
    overflow: auto;
}
.table {
    width: 100%;
    padding: 2rem;
    /* margin: 10px; */
    display: flex;
    flex-direction: row;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    border: 4px solid #091927;
    padding: 10px;
    text-align: left;
}
tr:nth-child(even),table.list thead>tr {
    background-color: #f2f2f2;
}

input[type="text"], input[type="number"], input[type="email"] {
    width: 100%;
    padding: 8px, 18px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

a{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
    margin-right: 4px;
}

label.validation-error {
    color: red;
    margin-left: 5px;
}
